.DS_Store
*.pem
geotiffs/*
build/bundle.js
build/assets/fonts
node_modules
app/utils/yale_map_image_tiles/
app/utils/*.png
app/js/lib/autodesk.js
app/js/lib/request-autodesk-token.js
build/assets/video
