html, body, .background-image, .page-content {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1em;
}

/****************
* Helper styles *
****************/

.hidden {
  display: none;
}

.center-text {
  text-align: center;
}

.sky-background {
  background: #EBF9F9;
}

.translucent {
  opacity: .6;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #8D8C8C;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fade-in;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-out {
  animation-name: fade-out;
}

/******************
* Branding styles *
******************/

.brand-logo {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 60px;
  z-index: 9;
}

/****************
* Navbar styles *
****************/

.navigation-container {
  position: fixed;
  z-index: 3;
}

.navigation {
  margin: 24px;
  cursor: pointer;
}

.navigation div {
  height: 4px;
  width: 23px;
  /* background should toggle between 85 and ff */
  background: #e1dede;
  margin-top: 2px;
  border-radius: 3px;
}

/****************************
* Navigation overlay styles *
****************************/

.navigation-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  z-index: 9;
}

.navigation-overlay .dismiss {
  color: #fff;
  font-size: 2.5em;
  margin: 6px 24px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
}

.navigation-links {
  padding-top: 90px;
}

.navigation-link {
  font-family: Arial;
  letter-spacing: .1em;
}

.navigation-link a {
  display: block;
  padding: 6px 0 6px 0;
  margin: 0 0 12px 0;
}

.navigation-links-top {
  padding-bottom: 60px;
}

/*******************
* Home page styles *
*******************/

.home {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  position: absolute;
}

.home-container {
  height: 100%;
  width: 100%;
}

.home-image {
  height: 100%;
  margin-top: -61px;
}

/*********************
* Home header styles *
*********************/

.home-header-container {
  position: fixed;
  width: 370px;
  left: 150px;
  background-color: #fff;
  z-index: 10;
}

.home-header {
  padding-top: 20px;
  padding-bottom: 8px;
}

.home-header h1 {
  font-family: Times;
  font-size: 1.34em;
  text-align: center;
  letter-spacing: .11em;
  margin: 0;
  font-weight: 400;
  padding-bottom: 10px;
}

/*********************
* Home page overlays *
*********************/

.home-overlay-1 {
  background: #65BD24;
  position: absolute;
}

.home-overlay-2 {
  position: absolute;
  width: 35px;
}

.home-overlay-2 img {
  width: 100%;
}

/****************************
* Text column header styles *
****************************/

.text-column-hr {
  border: 0;
  height: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.text-column-hr-top {
  position: absolute;
  z-index: 10;
  width: 300px;
  left: 185px;
  top: 54px;
  margin: 5px 0 5px 0;
}

.alpha-fade-top {
  background: linear-gradient(0deg, 
    rgba(255,255,255,0), 
    rgba(255,255,255,.9),
    rgba(255,255,255,1) );
  position: absolute;
  top: 55px;
  height: 50px;
  /* .text-overlay width - .text-overlay padding r&l */
  width: 300px;
  left: 35px;
}

.alpha-fade-bottom {
  background: linear-gradient(0deg, 
    rgba(255,255,255,1), 
    rgba(255,255,255,.9),
    rgba(255,255,255,0) );
  position: absolute;
  height: 50px;
  /* .text-overlay width - .text-overlay padding r&l */
  width: 300px;
  left: 35px;
  bottom: 56px;
}

/**********************
* Text overlay styles *
**********************/

.navigation-overlay-column,
.text-column-container {
  position: absolute;
  height: 100%;
  width: 370px;
  left: 150px;
  background-color: #fff;
  z-index: 1;
}

.text-column {
  max-height: 100%;
  overflow: scroll;
}

.text-column-content {
  margin: 65px 0;
  padding: 35px;
  font-family: Arial;
  line-height: 1.35em;
}

.section-paragraph {
  padding-bottom: 18px;
  font-size: .96em;
}

/**********************
* Text section styles *
**********************/

@font-face {
  font-family: Mallory;
  src: url("/assets/fonts/Mallory-Thin.otf") format("opentype");
}

.minor-section-spacer {
  padding-top: 110px;
}

.major-section-spacer {
  padding-top: 210px;
}

.section-title {
  font-size: 2.6em;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Mallory", Arial;
  padding: 0 0 45px 0;
  line-height: 1em;
  margin: 0;
  color: #72ADC7;
}

/**************************************
* Narrow table of Contents Background *
**************************************/

.table-of-contents-container,
.wide-table-of-contents-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.table-of-contents-left {
  width: 520px;
  height: 100%;
  background: url(/assets/images/concrete.jpg) no-repeat center center fixed;
  float: left;
}

.table-of-contents-right {
  overflow: hidden;
  height: 100%;
}

.table-of-contents-right-panel {
  overflow: hidden;
  width: 25%;
  height: 100%;
  float: left;
  opacity: .8;
  cursor: pointer;
}

.table-of-contents-right-panel img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.table-of-contents-right-panel:hover {
  width: 25%;
  height: 100%;
  float: left;
  opacity: 1;
}

.intro-image {
  height: 100%;
}

.white-bar {
  float: left;
  height: 100%;
  width: 7px;
  background: white;
}

/******************************
* Wide table of contents menu *
******************************/

.wide-table-of-contents-container {
  width: 100%;
  height: 100%;
}

.wide-table-of-contents-left {
  width: 670px;
  height: 100%;
  background: #fff;
  float: left;
}

.wide-table-of-contents-right {
  overflow: hidden;
  height: 100%;
}

.wide-table-of-contents-right-top {
  height: 60%;
  width: 100%;
}

.wide-table-of-contents-bottom {
  width: 100%;
  height: 40%;
}

.wide-table-of-contents-bottom-left {
  display: inline-block;
  height: 100%;
  width: 50%;
  float: left;
  overflow: hidden;
}

.wide-table-of-contents-bottom-right {
  display: inline-block;
  height: 100%;
  width: 50%;
  max-height: 100%;
  background: #fff;
}

/********************************************
* Wide table of contents right panel styles *
********************************************/

/* TODO: give this container some love */
.caption-container {
  height: 100%;
  width: 100%;
  margin: 40px;
  max-width: 76%;
  max-height: 82%;
  overflow: scroll;
}

.caption {
  padding-bottom: 18px;
  font-family: Arial;
  font-size: .87em;
  line-height: 1.35em;
}


/*************************
* Table of contents menu *
*************************/

.section-subheading {
  font-size: 1.1em;
  font-weight: 100;
  margin: 0;
  line-height: 1em;
  text-transform: uppercase;
  margin-top: -8px;
  padding-bottom: 10px;
}

.section-introduction-text {
  margin-top: 15px;
  font-size: .95em;
}

/**************************
* Background image styles *
**************************/

.background-image {
  position: absolute;
  background: url(/assets/images/scaffold.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -mox-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.full-screen-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.fill-container {
  height: 100%;
  width: 100%;
}

/*********************
* Map section styles *
*********************/

#map {
  width: 100%;
  height: 100%;
  position: absolute;
}

.leaflet-container 
.leaflet-control-attribution, 
.leaflet-container 
.leaflet-control-scale {
  margin-bottom: 70px;
}

.leaflet-bottom.leaflet-right {
  z-index: 4;
}

.map-overlay-selector {
  position: absolute;
  z-index: 4;
  display: inline-block;
  bottom: 14px;
  left: 550px;
  height: 31px;
  border-radius: 20px;
  border: 1px solid #CBCBCB;
  background: #FFFFFF;
  margin: 13px 0 0 20px;
  padding-right: 5px;
  cursor: pointer;
  overflow: hidden;
}

.map-overlay {
  display: inline-block;
  padding: 2px 9px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 1.1em;
  color: #949494;
  margin-top: 4px;
  margin-left: 5px;
}

.map-overlay.active {
  color: #fff;
  background-color: #7CBFDD;
}

/*********************
* Map overlay styles *
*********************/

.overlay-bounding-box {
  fill: #72ADC7;
  stroke: #44758b;
  transition: opacity 1s linear;
}

.vector-overlay-toggle {
  position: absolute;
  right: 10px;
  bottom: 157px;
  z-index: 4;
}

.vector-overlay-toggle .fa {
  font-size: 14px;
}

span.vector-overlay-toggle-button {
  display: inline-block;
  color: #a2a2a2;
  background: #fff;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0,0,0,.65);
  cursor: pointer;
}

span.vector-overlay-toggle-button:hover,
span.vector-overlay-toggle-button.active:hover {
  color: #7CBFDD;
}

span.vector-overlay-toggle-button.active {
  color: #5d5d5d;
}

/*********************
* Map opacity slider *
*********************/

.opacity-slider-wrapper {
  position: absolute;
  bottom: 13px;
  width: 110px;
  left: 780px;
  z-index: 4;
}

/* remove min and max labels */
.opacity-slider-container span.rz-bubble,
.opacity-slider-container span.rz-pointer:after {
  display: none;
}

span.rz-pointer:focus {
  outline: none;
}

.opacity-slider-container .rzslider .rz-pointer {
  top: -6px;
  width: 16px;
  height: 16px;
  background-color: white;
  border: 1px solid darkgray;
  z-index: 5;
}

.opacity-slider-container span.rz-bar.rz-selection {
  visibility: visible;
  background: #7CBFDD;
}

.opacity-slider-container span.rz-bar {
  background: #969595;
}

.opacity-slider-container .rzslider .rz-bar {
  height: 6px;
  border-radius: 5px;
}

/****************
* Footer styles *
****************/

.footer-container {
  position: fixed;
  display: inline-block;
  width: 100%;
  height: 65px;
  bottom: 0;
}

.full-width-footer-container {
  z-index: 2;
}

.partial-width-footer-container {
  z-index: 3;
}

.full-width-footer-stripe {
  width: 100%;
  height: 6px;
  background-color: #A7C9D3;
}

.full-width-footer {
  display: inline-block;
  background-color: #F0F0F0;
  width: 100%;
  height: 100%;
}

.footer-content-container {
  position: fixed;
  width: 370px;
  height: 100%;
  background: #fff;
  display: inline-block;
  left: 150px;
  font-family: Arial;
}

.footer {
  display: inline-block;
  margin-top: 21px;
  cursor: pointer;
}

.footer-right {
  float: right;
  margin-right: 35px;
}

.footer-left {
  color: #72ADC7;
  font-weight: 700;
  font-size: 1.05em;
  margin-left: 35px;
}

.text-column-hr-bottom {
  margin-left: 35px;
  margin-right: 35px;
}

.footer-text-container {
  margin-top: -13px;
}


/***************
* Mobile Views *
***************/

/* Hide mobile controls on desktop */
.mobile-controls-container {
  display: none;
}

/* Tablet and larger mobiles */
@media (max-width: 800px) {

  /***
  * Nav
  ***/

  .home-header-container {
    width: 100%;
    left: 0;
    position: fixed;
  }

  .alpha-fade-top {
    top: 40px;
    width: 100%;
    left: 0;
  }

  .home-header h1 {
    font-size: 1.2em;
  }

  .brand-logo {
    position: fixed;
    width: 40px;
    z-index: 10;
  }

  .navigation-container {
    z-index: 11;
  }

  .navigation-overlay-column {
    left: 0;
    width: 100%;
  }

  .navigation {
    margin: 22px 16px;
  }

  .navigation-overlay .dismiss {
    margin: 4px 14px;
    color: #000;
  }

  .navigation-overlay .text-column-content {
    text-align: center;
  }

  /***
  * Mid page mobile controls
  ***/

  .mobile-controls-container {
    display: block;
    position: absolute;
    top: 50%;
    height: 40px;
    width: 100%;
    background: red;
    z-index: 2;
  }

  .mobile-controls-left-container {
    width: 69%;
    height: 100%;
    background: blue;
  }

  .mobile-controls-right-container {
    float: right;
    height: 100%;
    width: 31%;
    background: green;
    position: absolute;
    right: 0;
    top: 0;
  }

  /***
  * Text column
  ***/

  .text-column-hr-top,
  .alpha-fade-bottom {
    display: none;
  }

  .text-column-container {
    position: fixed;
    width: 100%;
    height: 50%;
    top: 50%;
    left: 0;
  }

  .text-column {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .major-section-spacer,
  .minor-section-spacer {
    padding-top: 40px;
  }

  .section-title {
    padding: 0 0 20px 0;
  }

  .text-column-content {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .section-paragraph {
    padding-bottom: 8px;
  }

  /***
  * Map
  ***/

  .map-overlay-selector {
    display: none;
  }

  #map {
    width: 100%;
    height: 50%;
  }

  .leaflet-control-attribution {
    display: none;
  }

  .opacity-slider-wrapper {
    position: fixed;
    left: 69%;
    top: 50%;
    z-index: 2;
  }

  .vector-overlay-toggle {
    bottom: 72px;
  }

  .leaflet-touch .vector-overlay-toggle {
    bottom: 80px;
    right: 12px;
  }

  .leaflet-touch span.vector-overlay-toggle-button {
    padding: 7px;
  }


  /***
  * Footer
  ***/

  .footer-container {
    display: none;
  }


}

/* Smaller mobiles */
@media (max-width: 400px) {

  /***
  * Nav
  ***/

  .brand-logo {
    display: none;
  }





}

