html, body, .background-content {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/****************
* Helper styles *
****************/

.hidden {
  display: none;
}

.center-text {
  text-align: center;
}

/******************
* Branding styles *
******************/

.dh-branding {
  position: fixed;
  right: 30px;
  top: 30px;
  width: 70px;
  z-index: 4;
}

/****************
* Navbar styles *
****************/

.navigation-container {
  position: fixed;
  z-index: 3;
}

.navigation {
  margin: 20px;
  cursor: pointer;
}

.navigation div {
  height: 4px;
  width: 23px;
  /* background will toggle between 85 and e6 */
  background: #e6e6e6;
  margin-top: 2px;
  border-radius: 3px;
}

/****************************
* Navigation overlay styles *
****************************/

.navigation-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  z-index: 4;
}

.navigation-overlay .dismiss {
  color: #fff;
  float: right;
  font-size: 2.5em;
  margin: 30px 40px;
  cursor: pointer;
}

/*******************
* Home page styles *
*******************/

.home {
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  position: absolute;
}

.home-image {
  height: 100%;
}

.home-header-container {
  position: fixed;
  width: 370px;
  left: 150px;
  background-color: #fff;
}

.home-header {
  padding-top: 30px;
}

/**************************
* Background image styles *
**************************/

.background-content {
  background: url(/assets/images/scaffold.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -mox-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* preload background images to prevent glitches on background swap */
.image-staging-area {
  width: 0;
  height: 0;
  z-index: -1;
  overflow: hidden;
}

/*********************
* Header text styles *
*********************/

.text-overlay-header {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  /* .text-overlay width - .text-overlay padding r&l */
  width: 300px; 
  margin-top: -35px;
  padding-top: 30px;
}

.text-overlay-header h1,
.home-header h1 {
  font-family: Times;
  font-size: 1.3em;
  text-align: center;
  letter-spacing: .11em;
  margin: 0;
  font-weight: 400;
  padding-bottom: 10px;
}

.text-overlay-header hr {
  margin: 5px 0 5px 0;
  border: 0;
  height: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.alpha-fade {
  background: linear-gradient(0deg, 
    rgba(255,255,255,0), 
    rgba(255,255,255,.9),
    rgba(255,255,255,1) );
  position: absolute;
  top: 65px;
  height: 50px;
  /* .text-overlay width - .text-overlay padding r&l */
  width: 300px;
}

/**********************
* Text overlay styles *
**********************/

.text-overlay-container {
  position: absolute;
  height: 100%;
  width: 370px;
  left: 150px;
  background-color: #fff;
}

.text-overlay {
  max-height: 100%;
  overflow: scroll;
  padding: 35px;
  /* 2 * padding around text-overlay */
  margin-bottom: -70px;
}

.text-overlay-content {
  margin-top: 65px;
  margin-bottom: 100px;
}

.text-overlay-content div {
  padding-bottom: 18px;
  font-family: Arial;
  font-size: .92em;
  line-height: 1.25em;
}


/*********************
* Map section styles *
*********************/

#map {
  width: 100%;
  height: 100%;
  position: absolute;
}

.leaflet-container 
.leaflet-control-attribution, 
.leaflet-container 
.leaflet-control-scale {
  margin-bottom: 70px;
}

.footer-container {
  position: absolute;
  z-index: 2;
  display: inline-block;
  width: 100%;
  height: 65px;
  bottom: 0;
}

.footer-stripe {
  width: 100%;
  height: 6px;
  background-color: #A7C9D3;
}

.footer {
  display: inline-block;
  background-color: #F0F0F0;
  width: 100%;
  height: 100%;
}

.map-overlay-selector {
  display: inline-block;
  height: 31px;
  border-radius: 20px;
  border: 1px solid #CBCBCB;
  background: #FFFFFF;
  margin: 13px 0 0 20px;
  padding-right: 5px;
  cursor: pointer;
}

.map-overlay {
  display: inline-block;
  padding: 2px 9px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 1.1em;
  color: #949494;
  margin-top: 4px;
  margin-left: 5px;
}

.map-overlay.active {
  color: #fff;
  background-color: #7CBFDD;
}

.map-selection-label {
  display: inline-block;
  margin-left: 150px;
  height: 100%;
  width: 370px;
  background: #fff;
}

.map-selection-label-content {
  display: inline-block;
  color: #72ADC7;
  font-weight: 700;
  font-size: 1.15em;
  padding: 18px 35px;
}
