html, body, .background-image, .page-content {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/****************
* Helper styles *
****************/

.hidden {
  display: none;
}

.center-text {
  text-align: center;
}

.sky-background {
  background: #EBF9F9;
}

.translucent {
  opacity: .6;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #8D8C8C;
}

/******************
* Branding styles *
******************/

.brand-logo {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 60px;
  z-index: 9;
}

/****************
* Navbar styles *
****************/

.navigation-container {
  position: fixed;
  z-index: 3;
}

.navigation {
  margin: 24px;
  cursor: pointer;
}

.navigation div {
  height: 4px;
  width: 23px;
  /* background will toggle between 85 and e6 */
  background: #858585;
  margin-top: 2px;
  border-radius: 3px;
}

/****************************
* Navigation overlay styles *
****************************/

.navigation-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  z-index: 9;
}

.navigation-overlay .dismiss {
  color: #fff;
  font-size: 2.5em;
  margin: 6px 24px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
}

.navigation-links {
  padding-top: 90px;
}

.navigation-link {
  font-family: Arial;
  padding-bottom: 25px;
  letter-spacing: .1em;
}

.navigation-links-top {
  padding-bottom: 60px;
}

/*******************
* Home page styles *
*******************/

.home {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  position: absolute;
}

.home-container {
  height: 100%;
  width: 100%;
}

.home-image {
  height: 100%;
  margin-top: -61px;
}

/*********************
* Home header styles *
*********************/

.home-header-container {
  position: fixed;
  width: 370px;
  left: 150px;
  background-color: #fff;
  z-index: 10;
}

.home-header {
  padding-top: 20px;
  padding-bottom: 8px;
}

.home-header h1 {
  font-family: Times;
  font-size: 1.34em;
  text-align: center;
  letter-spacing: .11em;
  margin: 0;
  font-weight: 400;
  padding-bottom: 10px;
}

/*********************
* Home page overlays *
*********************/

.home-overlay-1 {
  background: #65BD24;
  position: absolute;
}

.home-overlay-2 {
  position: absolute;
  width: 35px;
}

.home-overlay-2 img {
  width: 100%;
}

/****************************
* Text column header styles *
****************************/

.text-column-hr {
  border: 0;
  height: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.text-column-hr-top {
  position: absolute;
  z-index: 10;
  width: 300px;
  left: 35px;
  top: 54px;
  margin: 5px 0 5px 0;
}

.alpha-fade {
  background: linear-gradient(0deg, 
    rgba(255,255,255,0), 
    rgba(255,255,255,.9),
    rgba(255,255,255,1) );
  position: absolute;
  top: 55px;
  height: 50px;
  /* .text-overlay width - .text-overlay padding r&l */
  width: 300px;
  left: 35px;
}

/**********************
* Text overlay styles *
**********************/

.text-column-container {
  position: absolute;
  height: 100%;
  width: 370px;
  left: 150px;
  background-color: #fff;

}

.text-column {
  max-height: 100%;
  overflow: scroll;
  padding: 35px;
  /* 2 * padding around text-column */
  margin-bottom: -70px;
}

.text-column-content {
  margin-top: 65px;
  margin-bottom: 100px;
}

.text-column-content div {
  padding-bottom: 18px;
  font-family: Arial;
  font-size: .92em;
  line-height: 1.25em;
}

/**********************
* Text section styles *
**********************/

@font-face {
  font-family: Mallory;
  src: url("/assets/fonts/Mallory-Thin.otf") format("opentype");
}

.section-title {
  font-size: 2.25em;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Mallory", Arial;
  padding: 100px 0px 55px 0px;
  line-height: 1em;
  margin: 0;
}

/**************************
* Background image styles *
**************************/

.background-image {
  position: absolute;
  background: url(/assets/images/scaffold.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -mox-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* preload background images to prevent glitches on background swap */
.image-staging-area {
  width: 0;
  height: 0;
  z-index: -1;
  overflow: hidden;
}


/*********************
* Map section styles *
*********************/

#map {
  width: 100%;
  height: 100%;
  position: absolute;
}

.leaflet-container 
.leaflet-control-attribution, 
.leaflet-container 
.leaflet-control-scale {
  margin-bottom: 70px;
}

.leaflet-bottom.leaflet-right {
  z-index: 4;
}

.map-overlay-selector {
  position: absolute;
  z-index: 4;
  display: inline-block;
  bottom: 13px;
  left: 550px;
  height: 31px;
  border-radius: 20px;
  border: 1px solid #CBCBCB;
  background: #FFFFFF;
  margin: 13px 0 0 20px;
  padding-right: 5px;
  cursor: pointer;
  overflow: hidden;
}

.map-overlay {
  display: inline-block;
  padding: 2px 9px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 1.1em;
  color: #949494;
  margin-top: 4px;
  margin-left: 5px;
}

.map-overlay.active {
  color: #fff;
  background-color: #7CBFDD;
}

/****************
* Footer styles *
****************/

.footer-container {
  position: fixed;
  display: inline-block;
  width: 100%;
  height: 65px;
  bottom: 0;
}

.full-width-footer-container {
  z-index: 2;
}

.partial-width-footer-container {
  z-index: 3;
}

.full-width-footer-stripe {
  width: 100%;
  height: 6px;
  background-color: #A7C9D3;
}

.full-width-footer {
  display: inline-block;
  background-color: #F0F0F0;
  width: 100%;
  height: 100%;
}

.footer-content-container {
  position: fixed;
  width: 370px;
  height: 100%;
  background: #fff;
  display: inline-block;
  left: 150px;
  font-family: Arial;
}

.footer {
  display: inline-block;
  margin-top: 21px;
  cursor: pointer;
}

.footer-right {
  float: right;
  margin-right: 35px;
}

.footer-left {
  color: #72ADC7;
  font-weight: 700;
  font-size: 1.05em;
  margin-left: 35px;
}

.text-column-hr-bottom {
  margin-left: 35px;
  margin-right: 35px;
}

.footer-text-container {
  margin-top: -13px;
}
