<!-- Table of contents template -->
<div class="table-of-contents hidden">
  <div class="table-of-contents-left"></div>
  <div class="table-of-contents-right">
    <div class="table-of-contents-right-panel">
      <img src="/assets/images/stone.jpg">
    </div>
    <div class="table-of-contents-right-panel">
      <img src="/assets/images/brick.jpg">
    </div>
    <div class="table-of-contents-right-panel">
      <img src="/assets/images/glass.jpg">
    </div>
    <div class="table-of-contents-right-panel">
      <img src="/assets/images/concrete.jpg">
    </div>
  </div>
</div>