<div data-ng-controller="footerController" 
    class="footer-container partial-width-footer-container">
  
  <!-- full width footer data-ng-show="state.footer.style == 'full'">  -->
  <div class="footer-container full-width-footer-container">
    <div class="full-width-footer-stripe"></div>
    <div class="full-width-footer">
      <div class="footer-content-container">
        <a>
          <div class="footer-right">{{chomp}}</div>
        </a>

        <a>
          <div class="footer-left"></div>
        </a>
      </div>
    </div>
  </div>

  <!-- partial width footer -->
  <div class="footer-container partial-width-footer-container"
        data-ng-show="state.footer.style == 'partial'">
    <div class="footer-content-container">
      <hr class="overlay-hr footer-hr">
      <div class="footer-next main-footer-next"></div>
      </div>
    </div>
  </div>

</div>