<div data-ng-controller="footerController" 
    class="footer-container partial-width-footer-container">
  
  <!-- background gray and blue stripe for full page footer -->
  <div class="footer-container full-width-footer-container">
    <div class="full-width-footer-stripe"></div>
    <div class="full-width-footer">
    </div>
  </div>

  <div class="footer-content-container">
    <hr class="overlay-hr footer-hr">
    <div class="footer-next main-footer-next">Next&darr;
    </div>
  </div>
</div>