<div data-ng-controller="footerController" 
    class="footer-container partial-width-footer-container">
  
  <!-- full width footer -->
  <div class="footer-container full-width-footer-container"
        data-ng-show="footer.style == 'full'">
    <div class="full-width-footer-stripe"></div>
    <div class="full-width-footer">
      <div class="footer-content-container">
        <a data-ng-href="{{footer.right.url}}">
          <div class="footer-right"
                 data-ng-bind-html="footer.right.display"></div>
        </a>

        <a data-ng-href="{{footer.left.url}}">
          <div class="footer-left"
                data-ng-bind-html="footer.left.display"></div>
        </a>
      </div>
    </div>
  </div>

  <!-- partial width footer -->
  <div class="footer-container partial-width-footer-container"
        data-ng-show="footer.style == 'partial'">
    <div class="footer-content-container">
      <hr class="text-column-hr text-column-hr-bottom">
        <div class="footer-text-container">
          <a data-ng-href="{{footer.right.url}}">
            <div class="footer-right"
                   data-ng-bind-html="footer.right.display"></div>
          </a>

          <a data-ng-href="{{footer.left.url}}">
            <div class="footer-left"
                  data-ng-bind-html="footer.left.display"></div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>