<!-- Home container -->
<div id="home" class="home">
  <div class="home-container">
    <img src="/assets/images/sample-elevation-yuag-med.jpg" class="home-image">
    
    <!-- Overlay assets -->
    <img src="/assets/images/yuag-exterior.jpg" class="yuag-exterior hidden">
    <div class="home-overlay home-overlay-1 hidden"></div>
    <div class="home-overlay home-overlay-2 hidden">
      <img src="/assets/images/add-icon.png">
    </div>
  </div>
  <div class="footer-container full-width-footer-container">
    <div class="full-width-footer-stripe"></div>
    <div class="full-width-footer">
      <div class="footer-content-container">
        <div class="home-footer-marker"></div>
        <div class="footer-next home-footer-next">Next
          <div class="down-arrow">&darr;</div>
        </div>
      </div>
    </div>
  </div>
</div>