<div data-ng-controller="NavigationController"
      class="navigation-overlay hidden">
  <div class="dismiss"
      data-ng-click="toggleNavigation()">&times;</div>
  <div class="text-overlay-container">
    <div class="text-overlay">
      <div class="text-overlay-header">
        <h1 data-ng-controller="BrandController">{{brand.title}}</h1>
        <hr class="overlay-hr">
      </div>
      <div class="navigation-links">
        <div class="navigation-links-top">
          <div class="navigation-link">BUILDING SITE HISTORY</div>
          <div class="navigation-link">ARCHITECTURE & URBANISM</div>
          <div class="navigation-link">MATERIAL JOURNEYS</div>
          <div class="navigation-link">PEOPLE & PLACE</div>
        </div>
        <div class="navigation-links-bottom">
          <div class="navigation-link">ABOUT THE AUTHOR</div>
          <div class="navigation-link">DOWNLOADS</div>
          <div class="navigation-link">LINKS</div>
        </div>
      </div>
    </div>
  </div>
</div>