<div div data-ng-show="textColumn.display === '1'" 
      data-ng-controller="textColumnController"
      class="text-column-container"
      data-ng-cloak>
  <hr class="text-column-hr text-column-hr-top">
  <div class="alpha-fade"></div>
  <div class="text-column">
    <div class="text-column-content">
      <div data-ng-repeat="section in textColumn.sections"
        data-ng-attr-id="{{ 'section' + section.id }}"
        data-ng-class="{{ 'section' + section.id }}"
        class="section">
        <h2 class="section-title">{{ section.title }}</h2>
        <div data-ng-repeat="paragraph in section.paragraphs">{{ paragraph }}</div>
      </div>
    </div>
  </div>
</div>