<!-- Map container -->
<div id="map">
  <div class="map-overlay-selector">
    <div class="map-overlay map-overlay-1"
          data-ng-click="selectOverlay(1)">1824</div>
    <div class="map-overlay map-overlay-2"
          data-ng-click="selectOverlay(2)">1851</div>
    <div class="map-overlay map-overlay-3"
          data-ng-click="selectOverlay(3)">1868</div>
  </div>

  <div class="opacity-slider-wrapper">
    <div class="opacity-slider-container">
      <rzslider rz-slider-model="priceSlider"></rzslider>
    </div>
  </div>
</div>

<!-- Text column overlay -->
<div data-ng-include='"/templates/partials/text-column.html"'></div>

<!-- Footer -->
<div data-ng-include='"/templates/partials/footer.html"'></div>