<div data-ng-show="textColumn.display === '1'" 
      class="text-column-wrapper"
      data-ng-cloak>
  <hr data-ng-show="textColumn.hr == '1'"
        class="text-column-hr text-column-hr-top">
  <div class="text-column-container">
    <div class="alpha-fade-top"></div>
    <div scroll-listener class="text-column" 
        set-scroll-position="getScrollPosition">
      <div class="text-column-content">
        <div data-ng-repeat="section in textColumn.sections"
          data-ng-class="{{ 'section' + section.id }}"
          class="section">
          <div data-ng-attr-id="{{ section.id }}"
              data-ng-class="{
                'minor-section-spacer' : section.id == 0,
                'major-section-spacer' : section.id != 0
              }"
          </div>
          <h2 data-ng-class="{
            'section-title first-section-title' : section.id == 0,
            'section-title' : section.id != 0
          }">{{ section.title }}</h2>
          <div data-ng-repeat="paragraph in section.paragraphs">
            <div data-ng-bind-html="paragraph | allowHtml" class="section-paragraph"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="alpha-fade-bottom"></div>
  </div>
</div>