<div data-ng-if="showTableOfContents == 1"
    class="table-of-contents-container">
  <div class="wide-table-of-contents-container">
    <div class="wide-table-of-contents-left"></div>
    <div class="wide-table-of-contents-right">
      <div class="wide-table-of-contents-right-top"
          data-ng-bind-html="tableOfContents.topRightHtml | allowHtml"></div>

      <div class="wide-table-of-contents-bottom">
        
        <div class="wide-table-of-contents-bottom-left"
          data-ng-bind-html="tableOfContents.bottomLeftHtml | allowHtml"></div>
        <div class="wide-table-of-contents-bottom-right"
          data-ng-bind-html="tableOfContents.bottomRightHtml | allowHtml"></div>
      </div>

    </div>
  </div>
</div>